.query-title {
	margin: auto;
	position: relative;
	display: block;
	text-align: center;
	top: 14vh;
	width: 400px;
	height: 116.865px;
	z-index: 0;
}

.query-title-text {
	position: relative;
	margin: auto;
	display: block;
	font-size: 8vh;
	font-weight: bold;
	z-index: -1;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

body {
	background-color: #99aadd;
	width: 100%;
}
html {
	width: 100%;
}

.make-form {
	margin: auto;
	position: relative;
	top: 12vh;
	min-width: 420px;
	width: 40vw;
}

.make-text {
	font-size: 4.8vh;
	display: block;
}

.make-text-align {
	display: inline-block;
	min-width: 120px;
	width: 9.65vw;
	text-align: right;
}

.make-text-form {
	position: relative;
	height: 5.55vh;
	min-width: 233.1px;
	width: 25vw;
	float: right;
	font-size: 3vh;
	box-shadow: 2px 1px 8px rgba(30,90,192,0.5);
}

.model-form {
	margin: auto;
	position: relative;
	top: 9vh;
	min-width: 420px;
	width: 40vw;
}

.model-text {
	font-size: 4.8vh;
	display: block;
}

.model-text-align {
	display: inline-block;
	min-width: 120px;
	width: 9.65vw;
	text-align: right;
}

.model-text-form {
	position: relative;
	height: 5.55vh;
	width: 25vw;
	float: right;
	min-width: 233.1px;
	font-size: 3vh;
	box-shadow: 2px 1px 8px rgba(30,90,192,0.5);
}

.year-form {
	position: relative;
	margin: auto;
	top: 6vh;
	min-width: 420px;
	width: 40vw;
}

.year-text {
	font-size: 4.8vh;
	display: block;
}

.year-text-align {
	display: inline-block;
	min-width: 120px;
	width: 9.65vw;
	text-align: right;
}

.year-text-form {
	position: relative;
	display: block;
	float: right;
	height: 5.55vh;
	width: 25vw;
	min-width: 233.1px;
	font-size: 3vh;
	box-shadow: 2px 1px 8px rgba(30,90,192,0.5);
}

.align-colon {
	position: relative;
	display: block;
	float: right;
}

.query-button {
	margin: auto;
	position: relative;
	display: block;
	width: 24.1vw;
	min-width: 400px;
	height: 10vh;
	border-radius: 1.5vw;
	font-size: 5vh;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border-style: solid;
	border-color: #525252;
}

.sidebar-left {
	display: block;
	min-width: 200px;
	left: 0vw;
	height: 100%;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
	background-color: white;
	border-color: #aaaaaa;
	margin: 0px;
	z-index: 0;
	position: fixed;
}

.sidebar-right {
	display: block;
	position: fixed;
	background-color: white;
	min-width: 200px;
	height: 100%;
	box-shadow: -2px 0px 8px -1px rgba(0,0,0,1);
    margin: 0px 0px 0px calc(100vw - 200px);
	z-index: 0;
}

.centre-space {
	height: 100%;
	width: 100vw;
}

.centre-space .footer {
	position: fixed;
	top: 92vh;
	display: inline-block;
}

.button-div {
	padding-top: 6vh;
	padding-bottom: 1vh;
	position: relative;
	display: block;
	margin: auto;
}